SMARTDOCSCAN_CONNECTION_STRING=Server=YOUR_SQL_SERVER;Database=dms;User Id=YOUR_SQL_USER;Password=YOUR_SQL_PASSWORD;TrustServerCertificate=True;
SMARTDOCSCAN_DEFAULT_COMPANY_ID=7
SMARTDOCSCAN_WEB_ORIGIN=https://scan.ashunya.com
SMARTDOCSCAN_STORE_PATH=D:\DMS\store
SMARTDOCSCAN_COOKIE_DOMAIN=.ashunya.com
SMARTDOCSCAN_ALLOW_LEGACY_PLAINTEXT_PASSWORDS=false
