SMARTDOCSCAN_CONNECTION_STRING=Host=postgres;Port=5432;Database=smartdocscan;Username=smartdocscan;Password=CHANGE_ME_LONG_RANDOM_PASSWORD
SMARTDOCSCAN_SQLSERVER_CONNECTION_STRING=mssql://YOUR_SQL_USER:YOUR_SQL_PASSWORD@YOUR_SQL_SERVER:1433/dms
SMARTDOCSCAN_POSTGRES_DB=smartdocscan
SMARTDOCSCAN_POSTGRES_USER=smartdocscan
SMARTDOCSCAN_POSTGRES_PASSWORD=CHANGE_ME_LONG_RANDOM_PASSWORD
SMARTDOCSCAN_POSTGRES_PORT=5432
SMARTDOCSCAN_POSTGRES_CONNECTION_STRING=postgresql://smartdocscan:CHANGE_ME_LONG_RANDOM_PASSWORD@postgres:5432/smartdocscan
SMARTDOCSCAN_DEFAULT_COMPANY_ID=7
SMARTDOCSCAN_WEB_ORIGIN=https://scan.ashunya.com
SMARTDOCSCAN_STORE_PATH=/mnt/smartdocscan/store
SMARTDOCSCAN_COOKIE_DOMAIN=.ashunya.com
SMARTDOCSCAN_ALLOW_LEGACY_PLAINTEXT_PASSWORDS=false
