SMARTDOCSCAN_CONNECTION_STRING=Server=YOUR_SQL_SERVER;Database=dms;User Id=YOUR_SQL_USER;Password=YOUR_SQL_PASSWORD;TrustServerCertificate=True;
SMARTDOCSCAN_DEFAULT_COMPANY_ID=7
SMARTDOCSCAN_MICROSOFT_TENANT_ID=YOUR_ASHUNYA_ENTRA_TENANT_ID
SMARTDOCSCAN_MICROSOFT_CLIENT_ID=YOUR_ENTRA_APP_CLIENT_ID
SMARTDOCSCAN_MICROSOFT_CLIENT_SECRET=YOUR_ENTRA_APP_CLIENT_SECRET
SMARTDOCSCAN_SMTP_HOST=smtp.office365.com
SMARTDOCSCAN_SMTP_PORT=587
SMARTDOCSCAN_SMTP_ENABLE_SSL=true
SMARTDOCSCAN_SMTP_FROM=no-reply@ashunya.com
SMARTDOCSCAN_SMTP_USERNAME=no-reply@ashunya.com
SMARTDOCSCAN_SMTP_PASSWORD=YOUR_SMTP_PASSWORD
