scan.ashunya.com {
    header {
        Strict-Transport-Security "max-age=31536000"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
        Permissions-Policy "camera=(), microphone=(), geolocation=()"
        Cross-Origin-Resource-Policy "same-site"
        X-Permitted-Cross-Domain-Policies "none"
        -Server
    }

    reverse_proxy web:80
}

scanapi.ashunya.com {
    header {
        Strict-Transport-Security "max-age=31536000"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        Permissions-Policy "camera=(), microphone=(), geolocation=()"
        Cross-Origin-Resource-Policy "same-site"
        X-Permitted-Cross-Domain-Policies "none"
        -Server
    }

    reverse_proxy api:8080
}
